html, body, .div-container {
    height: 100%;
}
.shadow-bg-1 {
    box-shadow: 0 10px 15px -3px orange, 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
}
.shadow-bg-2 {
    box-shadow: 0 10px 15px -3px purple, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-bg-3 {
    box-shadow: 0 10px 15px -3px yellow, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-bg-4 {
    box-shadow: 0 10px 15px -3px red, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-bg-5 {
    box-shadow: 0 10px 15px -3px green, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-bg-6 {
    box-shadow: 0 10px 15px -3px blue, 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
