.bg-second-place {
    background-color: #F39233;
}

.bg-third-place {
    background-color: #B8DE6F;
}

.bg-first-place {
    background-color: #01C5C4;
}

.bg-thead {
    background-color: #AF8BAF;
}

.bg-selected {
    background-color: #D6C4D6;
}
