body {
    background-image: url('img/background-login-signup.png');
    -webkit-background-size: cover;
}

input::placeholder {
    color: #718096;
    font-weight: 300;
}

input:focus {
    outline: none;
}

.flex-100 {
    flex: 0 1 100%;
}

div#tes {
    background-color: #01C5C4;
}
