<style>
    .bg-icon {
        background-color: #D8EDAD;
    }

    .text-icon {
        color: #B8DE6F;
    }
</style>
<div class="bg-white">
    <div class="max-w-4xl mx-auto py-12 px-4 sm:px-6 lg:py-18 lg:px-8">
        <div class="divide-gray-200">
            <div class="lg:grid lg:grid-cols-2 lg:gap-8">
                <span class="items-center rounded-full bg-icon text-icon flex justify-center"
                    style="height: 350px; width: 350px;">
                    <img src="img/analisis.png" alt="Analisis" style="height: 250px; width: 250px;">
                </span>
                <div class="mt-12 ml-8 lg:mt-0">
                    <h3 class="text-3xl leading-8 font-bold tracking-tight text-gray-900 sm:text-4xl">
                        Análisis Completo
                    </h3>
                    <span>
                        <ul class="mt-8 text-xl list-disc text-gray-500">
                            <li class="mt-4">Podras ver la cantidad de problemas que has realizado.</li>
                            <li class="mt-4">Distinguirás en una gráfica las dificultades que más has resuelto.</li>
                            <li class="mt-4">Puedes observar la cantidad de ráfagas que hiciste.</li>
                            <li class="mt-4">Ver los temas en los que más has contestado problemas.</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>